.p1{
    color: darkblue;
}

.p2{
    font-family: monospace;
    font-size: 45px;
    font-style: inherit;    
    color: blue;
}


.p3{
    font-family: monospace;
    font-size: 30px;
    font-style: inherit;    
}

h5#user1{ 
    background-size: 70px;
    font-size: 40px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../img/icons8-assistente-50.png);
    background-repeat: no-repeat;    
    background-position-x:  500px;

}

h5#user2{
    background-color: rgba(0,0,0,0.5);
    font-size: 40px;
    background-size: 70px;    
    background-image: url(../img/icons8-localização-mundial-48.png);
    background-position-x: -9.5px;
    background-repeat: no-repeat;    
    background-position-x:  900px;
}

p{
    font-family: monospace;
    font-size: 35px;

}
li , form , input{
    font-size: 25px;
}

.botoes .bt1{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #050403;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #ffffff 50%,
        #db0000);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ffffff),
        to(#db0000));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #0f0f0f;
    -moz-box-shadow:
        0px 1px 3px rgba(97,94,97,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(97,94,97,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(97,94,97,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.1),
        0px 1px 0px rgba(255,255,255,1);


}