.p1{

}
.p2{
    font-family: monospace;
    font-size: 45px;
    font-style: inherit;    
    color: blue;
}

p{
    font-family: monospace;
    font-size: 35px;

}
li , form , input{
    font-size: 25px;
}


.botoes .bt1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #4c4d4b;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #136315 0%,
        #ffffff 50%,
        #a8a8a8);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#136315),
        color-stop(0.50, #ffffff),
        to(#a8a8a8));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #ced4cc;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}