<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Acesso Restrito</title>
    </h:head>
    <style>


        .p1{
            color: darkblue;
        }
        .p2{
            font-family: monospace;
            font-size: 45px;
            font-style: inherit;    
            color: blue;
        }

        p{
            font-family: monospace;
            font-size: 35px;

        }
        li , form , input{
            font-size: 25px;
        }
        
        
    </style>   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
    <h:body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="../resources/img/Logo.png" width="150px"> &nbsp; <h1 class="p1">Livraria TMG</h1><a class="navbar-brand"></a></img>           


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active" >
                        <a class="nav-link" href="CadastroLivros/CadastraLivros.xhtml">Cadastro de Livros <span class="sr-only">(current)</span></a>
                    </li> 


                    <li class="nav-item active" >
                        <a class="nav-link" href="CadastroUsuarios/CadastraUsuarios.xhtml" >Cadastro de Usuários<span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-lg"  type="search" placeholder="Pesquisar" aria-label="pesquisa"></input>

                    
                    <a href="#"><img src="../resources/img/lupa.png" width="30px;" title="Pesquisar"></img></a>
                  
                    &nbsp;
                    &nbsp;
                    
                    <a href="../index.xhtml"><img src="../resources/img/exit.png" width="32px;" title="Sair"></img></a>
                </form>
            </div>
        </nav>

        <br></br>

        <center>  

            <h1 class="p2"> Bem vindo ao acesso restrito da Livraria TMG.</h1>
            <p>O que deseja Cadastrar?</p>

            <hr></hr>
            
            <a href="CadastroLivros/CadastraLivros.xhtml"><img id="livros" src="../resources/img/logoLivros.jpg" width="125px;"></img></a>
            


            &nbsp; 
            &nbsp;
            &nbsp; 
            &nbsp;
            
            <a href="CadastroUsuarios/CadastraUsuarios.xhtml"><img src="../resources/img/usuarios.png" width="100px;"></img></a>
            

        </center>



    </h:body>
</html>

