<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <ui:composition template="">

            <ui:define name="inicio">                
            </ui:define>    

            <ui:define name="content">
                <br></br>           
                <center>
                <p:fieldset legend="Identificação">

                    <h:form>
                        <p:panelGrid columns="3" id="painel" >
                            <p:outputLabel value="Nome Completo:" for="nome" />
                            <p:inputText id="nome" value="#{clienteBean.cliente.nome}" required="true" placeholder="Ex: João Silva"/>
                            <p:message for="nome" />

                            <p:outputLabel value="Senha:" for="senha" />
                            <p:inputText id="senha" value="#{clienteBean.cliente.senha}" type="password" required="true" placeholder="Senha"/>                                               
                            <p:message for="senha" />                           

                            <p:outputLabel value="Email:" for="email" />
                            <p:inputText id="email" value="#{clienteBean.cliente.email}"  required="true" placeholder="joãosilva@email.com.br" />
                            <p:message for="email" />

                            <p:outputLabel value="CPF:" for="cpf" />
                            <p:inputText id="cpf" value="#{clienteBean.cliente.cpf}" required="true" maxlength="11" placeholder="Apenas números"/>
                            <p:message for="cpf" />

                            <p:outputLabel value="Data de Nascimento:" for="data" />
                            <p:inputText id="data" value="#{clienteBean.cliente.nascimento}" type="date" maxlength="8"/>
                            <p:message for="data"/>

                            <p:outputLabel value="Celular:" for="celular" />
                            <p:inputText id="celular" value="#{clienteBean.cliente.celular}" maxlength="9" placeholder="Ex: 91324567"/>
                            <p:message for="celular" />                            

                        </p:panelGrid>                        
                 </h:form>       
                </p:fieldset>     

                <br></br>

                <p:fieldset legend="Endereço">
                    <h:form>
                        <p:panelGrid columns="3" id="painel2" >

                            <p:outputLabel value="Endereço:" for="endereco" />
                            <p:inputText id="endereco" value="#{clienteBean.cliente.endereco}" placeholder="Ex: Rua B"/>
                            <p:message for="endereco"/>

                            <p:outputLabel value="Complemento:" for="complemento" />
                            <p:inputText id="complemento" value="#{clienteBean.cliente.complemento}" placeholder="Ex: Proxímo.."/>
                            <p:message for="complemento"/>

                            <p:outputLabel value="Bairro:" for="bairro" />
                            <p:inputText id="bairro" value="#{clienteBean.cliente.bairro}" placeholder="Ex: Jacaraipe"/>
                            <p:message for="bairro"/>

                            <p:outputLabel value="Estado:" for="estado" />
                            <p:inputText id="estado" value="#{clienteBean.cliente.estado}" placeholder="Ex: ES"/>
                            <p:message for="estado"/>

                            <p:outputLabel value="Cidade:" for="cidade" />
                            <p:inputText id="cidade" value="#{clienteBean.cliente.cidade}" placeholder="Ex: Serra"/>
                            <p:message for="cidade" />   

                        </p:panelGrid>

                        <p:growl id="msg" />
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                            <p:outputLabel for="@next" value="Desejo receber e-mail de ofertas."/>                           
                            <p:selectBooleanCheckbox value="" />
                        </h:panelGrid>                       
                        
                    </h:form>
                    
                    <h:form>
                        <div class="botoes">
                        <p:commandButton styleClass="bt1" value="Finalizar"></p:commandButton>
                        &nbsp;  
                        <a href="Login.xhtml"><h:graphicImage library="img" title="Voltar" name="voltar.png"></h:graphicImage></a>
                        </div>
                        
                    </h:form>
                </p:fieldset> 
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
