<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>

    <link rel="StyleSheet" type="text/css" href="../../resources/css/EstiloAcessoRestrito.css" media="screen"></link>

    <h:head>
        <title>Livraria TMG</title>
    </h:head>

    <h:body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="../index.xhtml"><img src="../../resources/img/Logo.png" width="150px"></img></a> &nbsp; <h1 class="p1">Livraria TMG</h1>          


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active" >
                        <a class="nav-link" href="../CadastroUsuarios/CadastraUsuarios.xhtml">Cadastro de Usuários <span class="sr-only">(current)</span></a>
                    </li> 

                </ul>

                <form class="form-inline my-2 my-lg-0">

                    <a href="../index.xhtml"><h:graphicImage library="img" title="Voltar" name="voltar.png"></h:graphicImage></a>
                   
                    &nbsp;
                    &nbsp;

                    <input class="form-control form-control-lg"  type="search" placeholder="Pesquisar" aria-label="pesquisa"></input>


                    <a href="#"><img src="../../resources/img/lupa.png" width="30px;" title="Pesquisar"></img></a>

                    &nbsp;
                    &nbsp;

                    <a href="../../index.xhtml"><img src="../../resources/img/exit.png" width="32px;" title="Sair"></img></a>
                </form>
            </div>
        </nav>

        <hr></hr>

        <center>  

            <h1 class="p2"> Bem vindo ao Cadastro de Livros.</h1>

            <p:fieldset legend="Cadastro de Livros">

                <h:form>
                    <p:panelGrid columns="3" id="painel" >

                        <p:outputLabel value="Id:" for="id" />
                        <p:inputText id="id" value="#{livroBean.livro.id}" required="true" readonly="true"/>
                        <p:message for="id" />

                        <p:outputLabel value="Titulo:" for="titulo" />
                        <p:inputText id="titulo" value="#{livroBean.livro.titulo}" required="true"/>
                        <p:message for="titulo" />

                        <p:outputLabel value="Autor:" for="autor" />
                        <p:inputText id="autor" value="#{livroBean.livro.autor}" required="true"/>
                        <p:message for="autor" />

                        <p:outputLabel value="Páginas:" for="paginas" />
                        <p:inputText id="paginas" value="#{livroBean.livro.paginas}" required="true"/>
                        <p:message for="paginas" />

                        <p:outputLabel value="Preço Antigo:" for="precoantigo" />
                        <p:inputText id="precoantigo" value="#{livroBean.livro.precoAntigo}" required="true"/>
                        <p:message for="precoantigo" />

                        <p:outputLabel value="Preço Novo:" for="preconovo" />
                        <p:inputText id="preconovo" value="#{livroBean.livro.precoNovo}" required="true"/>
                        <p:message for="preconovo" />

                        <p:outputLabel value="Tamanho:" for="tamanho" />
                        <p:inputText id="tamanho" value="#{livroBean.livro.tamanho}" required="true"/>
                        <p:message for="tamanho" />                       

                    </p:panelGrid>  
                </h:form>              
            </p:fieldset>

            <br></br>  
            <br></br>  

            <h:form>
                <div class="botoes">
                    <p:commandButton styleClass="bt1" ajax="false" value="Cadastrar" actionListener="#{livroBean.salvar()}"></p:commandButton>
                    
                </div>
            </h:form>

        </center>


    </h:body>
</html>

